body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.video-container {
    max-width: 100%;
    width: 800px; /* Ajuste este valor conforme necessário */
    position: relative;
    padding-top: 56.25%; /* Proporção de 16:9 */
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Ajuste este valor conforme necessário */
}


